body {
  margin: 0;
}

body, input {
  font-family: 'Courier';
}

.container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
  background: #000;
}

#tiles-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.tile-container {
  text-align: center;
}

.address {
  color: #888;
}

.button {
  position: absolute;
}

#inputs {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
  left: 20px;
  bottom: 20px;
  color: #444;
}

#inputs input {
  background: transparent;
  color: #444;
  padding: 5px;
  font-size: 12px;
  width: 60px;
  border: 1px solid #222;
  margin-left: 10px;
  margin-right: 10px;
}

#inputs #bpm-range {
  width: 200px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: #222;
  height: 4px;
  padding: 0px;
}

#inputs #bpm-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #444;
  cursor: pointer;
  border-radius: 50%;
}

#inputs #bpm-range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #444;
  cursor: pointer;
  border-radius: 10px;
}

.size-buttons span {
  cursor: pointer;
}

#inputs #address-input {
  width: 280px;
  text-align: center;
}

#pause-play {
  cursor: pointer;
}

.speed {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.tiles-count span {
  cursor: pointer;
}

#show-inputs {
  position: absolute;
  left: 20px;
  bottom: 24px;
  color: #444;
}

#show-inputs, #hide-inputs {
  cursor: pointer;
}